body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(25, 126, 177, 1) 22%,
    rgba(0, 212, 255, 1) 100%
  );
}
/* .card {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 32, 41, 1) 57%,
    rgba(0, 212, 255, 1) 100%
  );
} */
.card {
  border-radius: 20px;
  width: 250px;
  height: 200px;
  transition: 0.8s;
  text-align: center;
}
.card:hover {
  width: 300px;
  height: 500px;
}
.card-img-top {
  border-radius: 20px;
}
.card-body {
  transition: 2s;
  display: none;
  border-radius: 0px 0px 20px 20px;
}
.card:hover .card-body {
  color: white;
  display: block;
  background-color: rgb(53, 49, 49);
}
